 
  <div ng-controller="NewGardenController">
    <form>
      <p class="input-group">
        <div>
          <label>Garden Title</label>
          <input type="text" class="form-control" ng-model="name" placeholder="Garden Tag Line">
          <span class="help-block"></span>

          <label>Address</label>
          <input type="text" class="form-control" ng-model="description" placeholder="testing">
          <span class="help-block"></span>

          <label>Latitude</label>
          <input type="text" class="form-control" ng-model="address" placeholder="testing">
          <span class="help-block"></span>

          <label>Longitude</label>
          <input type="text" class="form-control" ng-model="neighborhood" placeholder="testing">
          <span class="help-block"></span>
          
          <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-click="addGarden()">Add New</button>
          </span>
        </div>
      </p>  
    </form>
  </div>
