<form ng-submit="addGarden()">
  <p class="input-group">
    <div>
      <label>Garden Title</label>
      <input type="text" class="form-control" ng-model="garden.name" placeholder="Garden Tag Line">
      <span class="help-block"></span>

      <label>Address</label>
      <input type="text" class="form-control" ng-model="garden.description" placeholder="Address">
      <span class="help-block"></span>
<!-- 
      <label>Latitude</label>
      <input type="text" class="form-control" ng-model="garden.address" placeholder="testing">
      <span class="help-block"></span>

      <label>Longitude</label>
      <input type="text" class="form-control" ng-model="garden.neighborhood" placeholder="testing">
      <span class="help-block"></span>
       -->

      <button type="submit" class="btn btn-primary">Add New</button>
    </div>
  </p>  
</form>