<div class="row">
    <div class="col-sm-6">
      {{hello}}
        <map zoom="12" 
          center="current-location" 
          map-type-id="TERRAIN">
        </map>
    </div>
    <div class="col-sm-6">
      <div class="list-group">
        <div class='list-group-item' ng-repeat="garden in gardens">
          <h5>{{garden.name}}</h5>
          <p>{{garden.address}}: {{garden.lng}}, {{garden.lat}}</p>
          <button type="button" ng-click="removeGarden(garden)">&times;</button></a></li>
        </div>
      </div>
    </div>
</div>